html.dark {
    code {
        color: #ddd;
        background-color: black;
        border-color: #333;
    }

    .c-o {
        color: #26b16d;
    }

    .c-m {
        color: #0082d8;
    }

    .c-v {
        color: #ce6914;
    }

    .c-f {
        color: #b345d9;
    }

    .c-v {
        color: #e87e24;
    }
}
