$size-min: 2px;
$size-smallest: 4px;
$size-smaller: 8px;
$size-small: 12px;
$size-default: 16px;
$size-large: 20px;
$size-larger: 24px;
$size-largest: 28px;
$size-max: 32px;

$color-bg-dark: #0a0a0a;
$color-primary: #55F;

$phone-min: 280px;
$phone-max: 479px;
$phone-lg-min: 480px;
$phone-lg-max: 767px;
$tablet-min: 768px;
$tablet-max: 991px;
$laptop-min: 992px;
$laptop-max: 1203px;