@import '_variables.scss';

.btn {
    padding: 10px 15px;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    color: black;
    border-color: black;
    display: inline-block;
    transition: all 150ms;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
}

.btn-run {
    @extend .btn;
    color: $color-primary;
    background: transparent;
    border: 1px solid $color-primary;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 14px;
    outline: none;

    &:hover {
        background-color: $color-primary;
        color: white;
    }
}

.btn-primary {
    @extend .btn;
    background-color: #5555ee;
    color: white;
    border-color: #5555ee;

    &:hover {
        background-color: rgba(#5555ee, .8);
    }
}

.rounded {
    border-radius: 40px;
}