.btn {
    padding: 5px 15px;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-size: 16px;
    background-color: white;
    color: black;
    border-color: black;
    display: inline-block;
}

.btn-run {
    @extend .btn;
    color: white;
    background: #333;
    border: none;
    outline: 1px solid transparent;

    &:hover {
        outline-color: #ddd
    }
}

.btn-primary {
    @extend .btn;
    background-color: #5555ee;
    color: white;
    border-color: #5555ee;

    &:hover {
        background-color: rgba(#5555ee, .8);
    }
}

.rounded {
    border-radius: 40px;
}

.btn-download {
    @extend .btn;
    background-color: transparent;
    border-color: transparent;
    color: $color-primary;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba($color-primary, .2);
}