@import 'variables';

html.dark {
    color: #DDD;
    background-color: #1a1a1f !important;

    body {
        color: #DDD;
        background-color: #1a1a1f !important;
    }

    nav {
        background-color: #1a1a1f;
        border-color: #2a2a2a;

        .nav-link {
            img {
                filter: invert(1);
            }
        }
    }

    .sidemenu-content {
        background-color: transparent;
        border-color: #333;

        .sidemenu-item-body {
            background-color: rgba(#3a3a3f, .2);

            a {
                color: white;

                &:hover {
                    background-color: rgba(white, .1);
                }
            }
        }

        img {
            filter: invert(1);
            opacity: 1;
        }
    }

    .note-content {
        background-color: #2a2a2f;
        color: white;
        border-color: #2a2a2f;

        img {
            filter: invert(1);
        }
    }

    .doc-list-item-container {
        border-color: #2a2a2f;
    }

    code {
        background-color: #2a2a2f;
        color: white;
        box-shadow: none;
    }

    .dark-invert {
        filter: invert(1) !important;
    }

    code {
        border-color: #444;
    }

    .sidemenu-header-icons {
        border-color: #333;

        img {
            filter: invert(1);
        }
    }

    .sidemenu-container {
        border-color: #2a2a2a;
    }

    .sources {
        .source-links {
            .source-link {
                img {
                    filter: invert(1);
                }
            }
        }

        .source-container {
            border-color: #3a3a3a;
        }
    }
}
