.doc-li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doc-list-item-content {
    padding: 10px 0;
    border-radius: 10px;
}

code {
    padding: 15px;
    background-color: #fefefe;
    color: black;
    display: block;
    font-size: 16px;
    border: 1px solid #eee;
    overflow: auto;
    max-width: 100%;
    word-break: auto-phrase;
    border-radius: 10px;
}

.indent {
    &.one {
        margin-left: 15px;
    }

    &.two {
        margin-left: 30px;
    }

    &.three {
        margin-left: 45px;
    }

    &.four {
        margin-left: 60px;
    }

    &.five {
        margin-left: 75px;
    }

    &.six {
        margin-left: 90px;
    }
}

.variable {
    color: #d11
}

.method {
    color: #1a1
}

.param {
    color: #1ab;
}

.comment {
    color: darken(limegreen, 20%);
}


.doc-item-name {
    font-size: 14px;
    padding-bottom: 5px;
}

.frame-identity {
    font-weight: 600;
    font-size: 20px;
}

.doc-options {
    padding: 5px 0;
    display: flex;
    justify-content: start;
    gap: 5px;
}


.opr-name {
    padding-bottom: 10px;
    font-weight: bold;
}