@import '_variables.scss';

@font-face {
    font-family: "Primary";
    src: url('/fonts/Quicksand-VariableFont_wght.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Header";
    src: url('/fonts/Roboto-Medium.ttf');
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    color: #555;
    background-color: #fafafa;
    transition: all 0.05s;
}

body {
    margin: 0;
    font-family: $font-primary;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-weight: 500;
    button, select, textrea, input {
        font-family: $font-primary;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary-radial-gradient;
    border-radius: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(white, .1);
    border-radius: 5px;
    margin: 5px 0;
}



html.dark {
    color: #DDD;
    background-color: #1a1a1f;

    nav {
        background-color: #2a2a2f;
        border-color: transparent;

        .nav-link {
            img {
                filter: invert(1);
            }
        }
    }

    .sidemenu-content {
        background-color: transparent;
        border-color: transparent;


        .sidemenu-item-body {
            background-color: rgba(#3a3a3f, .2);

            a {
                color: white;

                &:hover {
                    background-color: rgba(white, .1);
                }
            }
        }

        img {
            filter: invert(1);
            opacity: 1;
        }
    }

    .note-content {
        background-color: #2a2a2f;
        color: white;
        border-color: #2a2a2f;

        img {
            filter: invert(1);
        }
    }

    .doc-list-item-container {
        border-color: #2a2a2f;

        code {
            background-color: #2a2a2f;
            color: white;
            box-shadow: none;
        }

        .variable {
            color: aquamarine;
        }

        .method {
            color: yellow;
        }

        .param {
            color: burlywood;
        }

        .comment {
            color: darken(limegreen, 5%);
        }
    }

    .dark-invert {
        filter: invert(1) !important;
    }
    code {
        border-color: #444;
    }
}

.download-container {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tested-cards {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
}

.tested-device-card {
}

.tested-device-card-content {
    padding: 20px;
    background: $primary-radial-gradient;
    border-radius: 20px;
    width: 330px;
    height: 100%;


    .title {
        padding: 5px 15px;
        background-color: rgba(white, .2);
        border-radius: 30px;
        text-align: center;
        width: fit-content;
        margin: auto;
        color: white;
        font-weight:bold;
        letter-spacing: 1px;
    }

    .image {
        padding: 30px 0;
        text-align: center;

        img {
            width: 150px;
            height: 150px;
            margin: auto;
        }
    }
}

.version-card {
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    background-image: $primary-radial-gradient;
    font-size: 20px;
    font-weight: bold;
    color: white;
}