@import '_variables.scss';

@font-face {
    font-family: "Primary";
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
    color: #555;
    background-color: white;
    transition: all 0.05s;
}

body {
    margin: 0;
    font-family: $font-primary;

    button, select, textrea, input {
        font-family: $font-primary;
    }
}

header {
    position: sticky;
    top: 0px;
    z-index: 6;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    border-radius: 0px;
    background-color: transparent;
    cursor: grab;
}
::-webkit-scrollbar-thumb {
    background: $primary-radial-gradient;
    border-radius: 5px;
    padding: 10px;
    cursor: grab;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(#ddd, .3);
    border-radius: 5px;
    margin: 5px 0;
}


.download-container {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tested-cards {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
}


.tested-device-card-content {
    padding: 20px;
    background: $color-secondary;
    border-radius: 20px;
    width: 200px;
    height: 100%;


    .title {
        padding: 5px 15px;
        background-color: rgba(white, .2);
        border-radius: 30px;
        text-align: center;
        width: fit-content;
        margin: auto;
        color: white;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bold;
    }

    .image {
        padding: 30px 0;
        text-align: center;

        img {
            width: 90px;
            height: 90px;
            margin: auto;
        }
    }
}

.version-card {
    padding: 10px 0px;

    .release-date {
        padding: 10px 0;
        font-weight: 600;
    } 
    
    .header {
        letter-spacing: 1px;
        color: white;
        padding: 10px 20px;
        font-weight: 600;
        text-align: center;
        border-radius: 40px;
        width: fit-content;
        background-image: $primary-radial-gradient;
    }
}

.languages-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}

.language-container {
    width: 400px;
    padding: 10px;
    text-align: center;
    img {
        width: 100px;
    }
}

.intro-container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.sources {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .source-container {
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 10px;

        .source-header {
            font-weight: 700;
            padding: 5px 0;
            font-size: 20px
        }

        .source-note {
            padding: 5px 0;
            font-size: 14px;
        }

        .source-links {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

        .source-link {
            color: inherit;
            padding: 10px;
            display: flex;
            gap: 10px;
            align-items: center;
            border-radius: 5px;
            margin-top: 5px;
            width: fit-content;

            img {
                width: 22px;
                height: 22px;
            }

            &:hover {
                background-color: rgba(#aaa, .1);
            }
        }
    }
}