
nav {
   background: #fefefe;
   padding: 10px;
}

.nav-content {
    display: flex;
    justify-content: start;
    place-items: center;
    gap: 5px;
}

.nav-link {
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    text-transform: uppercase;

    img {
        display: flex;
        filter: invert(.1);
        width: 32px;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            background-color: rgba(#9f9f9f, .1);
        }
    }

    &.list {
        padding: 0;
    }

    &.hover:hover {
        letter-spacing: 2px;
    }
}