
.note-container {
    padding: 5px 0;
}

.note-content {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #5555ff;
    border: 1px solid #5555ee;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;

    img {
        display: flex;
        width: 14px;
       padding: 4px;
        background-color: rgba(black, .3);
        border-radius: 50px;
        filter: invert(1);
    }

    &.success {
        background-color: rgba(#1bbd1b, .3);
    }
}
