
.note-container {
    display: none;
    padding: 5px 0;
}

.note-content {
    padding: 10px;
    border-radius: 2px;
    color: white;

    &.success {
        background-color: rgba(#1bbd1b, .3);
    }
}
