//min
@media (min-width: 992px) {
    .app-container {
        display: flex;
        justify-content: start;

        .app-sidemenu {
            width: 300px;
        }

        .app-body {
            padding: 0 10px;
            width: calc(100% - 300px);
        }

        #toggleSideMenuIcon {
            display: none;
        }
    }
    #navMenuIcon {
        display: none;
    }

    
    .sidemenu-header-icons {
        img {
            filter: invert(.1);
        }
    }
}

@media (min-width: 1399px) {
    body {
        max-width: 2600px;
        margin: auto;
    }
    .app-container {
        .app-sidemenu {
            width: 320px;
        }

        .app-body {
            width: calc(100% - 320px);
        }
    }
}

//max
@media (max-width: 991px) {
    .app-container {
        display: block;

        .sidemenu-container {
            border-right: none;
        }
        .app-sidemenu {
            display: none;
        }

        .app-body {
            padding: 10px;
            padding-top: 0px;
        }

        #toggleSideMenuIcon {
            display: flex;
        }

        .app-sidemenu {
            position: fixed;
            left: 0px;
            top: 0px;
            right: 0px;
            background-color: rgba(black, .8);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            height: 100vh;
            width: 100vw;
            overflow: auto;
            z-index: 5;

            .sidemenu-container {
                position: relative;
            }
        }

        .sidemenu-content {
            padding: 1px;
            border: none;
            background-color: transparent;
            color: white;

            .sidemenu-item-header {
                img {
                    filter: invert(1);
                }
            }
        }
    }

    #navMenuIcon {
        display: flex;
    }

    .languages-list  {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
    .intro-container {
        flex-direction: column;
        text-align: center;
    }
}