@media (min-width: 1400px) {
    .app-container {
        margin: auto;
        max-width: 1400px;
        padding: 10px 7%;
    }
}

@media (max-width: 1339px) {
    .app-container {
        margin: auto;
        max-width: 1024px;
        padding: 10px;
    }
}

@media (max-width: 1119px) {
    .app-container {
        max-width: 800px;
    }
}

@media (max-width: 1023px) {
    .app-container {
        max-width: 800px;
    }
}

@media (max-width: 991px) {
    .app-container {
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .app-container {
        max-width: 580px;
    }
}
@media (max-width: 579px) {
    .app-container {
        max-width: initial;
    }
}