@import '_variables.scss';

.section {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(#5555dd, .2);
    
    &:last-child {
        border-bottom: none;
    }

    &.center {
        text-align: center;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    &.white {
        border: 1px solid rgba(white, .05);
        background-color: rgba(#4f4f4f, .1);
    }

    .section-header {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: $color-primary;
    }

    .section-sub-header {
        font-size: 18px;
        font-weight: 500;
        padding: 10px 0;
    }

    .section-body {
        padding: 20px 0;
    }
}

.footer-content {
    padding: 20px;
    background-color: #1a1a1f;
    border-top: 1px solid #2f2f2f;
    color: #ccc;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    .footer-item {
        padding: 5px 10px;
        color: #ddd;
    }
}


.styled-ul {
    list-style-position: outside;
    li {
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.info-card-content {
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba($color-primary, .1);
    color: $color-primary;

    .body {
        padding: 10px;
        border-radius: 10px;
    }

    .image {
        text-align: center;

        img {
            display: flex;
            width: 40px;
            height: 40px;
        }
    }
}

.text-stroke {
    -webkit-text-stroke: 0.5px transparent;
    background: $primary-radial-gradient;
    font-size: 32px;
    font-weight: 100;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.invert {
    filter: invert(1);
}

.no-invert {
    filter: invert(0) !important;
}