@import '_variables.scss';

.section {
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }
    &.white {
        border: 1px solid rgba(white, .05);
        background-color: rgba(#4f4f4f, .1);
    }

    .section-header {
        font-family: $font-header;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 0;
    }

    .section-body {
        padding: 20px 0;
    }
}

.font-header {
    font-family: $font-header;
}

.footer-content {
    padding: 20px;
    background-color: rgba(#5f5f5f, .2);
}
.footer-item {
    padding: 5px;
}

.styled-ul {
    list-style-position: inside;
    li {
        padding: 10px 15px;
        border-radius: 10px;
        background-color: rgba(#5a5a5a, .1);
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}