.shortcut-modal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(black, .7);
    position: fixed;
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
}

.shortcut-modal-content {
    display: none;
    padding: 20px;
    background-color: rgba(white, .05);
    border: 1px solid white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
}

.shortcut-modal-header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;    
    font-size: 24px;
    padding-bottom: 10px;

    img {
        cursor: pointer;
        filter: invert(1);
        width: 28px;
        padding: 5px;
        background-color: rgba(black, .05);
        border-radius: 40px;
        display: flex;
    }
}

.shortcut-modal-body {
    padding: 10px 0;
}

.shortcut-item {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    div {
        background-color: rgba(white,.1);
        padding: 5px 15px;
        border-radius: 40px;
    }
}