.shortcut-modal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black, .9);
}
.shortcut-modal-content {
    background-color: rgba(white, .05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(#eee, .1);
    padding: 20px;
    border-radius: 2px;
    color: white;
}
.shortcut-modal-container {
    display: none;
    padding: 0 5px;
    max-width: 400px;
    width: 95%;
    max-height: 75%;
    overflow-y: auto;
}

.shortcut-modal-header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;    
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(black, .2);

    img {
        cursor: pointer;
        width: 28px;
        filter: invert(1);
        padding: 5px;
        background-color: rgba(black, .05);
        border-radius: 40px;
        display: flex;
    }
}

.shortcut-modal-body {
    padding: 20px 0;
    padding-bottom: 0;
}

.shortcut-item {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    padding: 5px 0;

    .shortcut-value {
        padding: 5px;
        div {
            background-color: rgba(white,.05);
            padding: 10px 15px;
            border-radius: 50px;
            text-align: center;
        }
    }
}