@import '_variables.scss';

.sidemenu-container {
    overflow: auto;
    padding: 0;
    position: sticky;
    top: 47px;
    bottom: 0px;
    max-height: 100vh;
    padding: 10px;
    z-index: 7;
}

.sidemenu-content {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

.sidemenu-items-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidemenu-item {
    width: -webkit-fill-available;
    padding: 0px;
    transition: all 150ms;
    border-radius: 20px;

    a {
        display: block;
    }

    &:hover {
        opacity: 0.8;
    }

    &[href] {
        color: $color-primary;
    }
}

.sidemenu-item-header {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px 0px;
    font-size: 14px;
    font-weight: 600;
    transition: all 150ms;

    div {
        padding: 7px 0;
    }

    &:hover {
        padding-left: 5px;
        img {
            width: 16px;
        }
    }

    img {
        width: 0px;
        height: 14px;
        padding: 5px;
        display: flex;
        transition: all 500ms;
        opacity: .8;

        &.opened {
            transform: rotate(180deg);
        }
    }
}

.sidemenu-item-body {
    padding: 10px;
    padding-left: 30px;
    padding-top: 0px;
    display: none;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    border-radius: 10px;

    a {
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 150ms;
        color: inherit;
        overflow: hidden;
        white-space: break-spaces;
        text-overflow: ellipsis;
        word-break: break-all;
        text-transform: lowercase;
        text-decoration: none;
        font-size: 14px;

        &:hover {
            background-color: rgba($color-primary, .05);
            border-radius: 5px;
        }
    }
}

.shortcuts-li {
    padding: 10px 0;
}

.malo-slide-x-out, .malo-slide-x-in {
    .sidemenu-header-icons {
        flex-wrap: nowrap;
    }
}

.sidemenu-header-icons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    img {
        width: 28px;
        height: 28px;
        padding: 10px;
        border-radius: 5px;
        filter: invert(.9);
        transition: all .15s;

        &:hover {
            background-color: rgba(#aaa, .1);
        }
    }

    a {
        display: flex;
    }
}
.tab-header {
    font-weight: bold;
    padding: 10px 0;
    font-size: 14px;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 2px;
}