@import '_variables.scss';

.sidemenu-container {
    overflow: auto;
    padding: 0;
    position: sticky;
    top: 0px;
    bottom: 0px;
    max-height: 100vh;
    border-right: 1px solid #aaa;

}

.sidemenu-content {
    background-color: white;
}

.sidemenu-items-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidemenu-item {
    width: -webkit-fill-available;
    padding: 5px;
    transition: all 150ms;
    
    a {
        display: block;
    }

    &:hover {
        opacity: 0.8;
    }

    &[href] {
        color: $color-primary;
    }
}

.sidemenu-item-header {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    div {
        padding: 7px 0;
    }
    img {
        width: 20px;
        padding: 5px;
        display: flex;
        transition: all 500ms;
        opacity: .8;

        &.opened {
            transform: rotate(180deg);
        }
    }
}

.sidemenu-item-body {
    margin-top: 5px;
    padding: 10px;
    padding-left: 35px;
    display: none;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 5px rgba(#ccc, .1);
    overflow: hidden;

    a {
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 150ms;
        color: inherit;
        overflow: hidden;
        white-space: break-spaces;
        text-overflow: ellipsis;
        word-break: break-all;

        &:hover {
            background-color: rgba(white, .2);
        }
    }
}

.shortcuts-li {
    padding: 10px 0;
}

.malo-slide-x-out, .malo-slide-x-in {
    .sidemenu-header-icons {
        flex-wrap: nowrap;
    }
}

.sidemenu-header-icons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid #ddd;

    img {
        width: 28px;
        height: 28px;
        padding: 10px;
        filter: invert(.9);
        transition: all .15s;

        &:hover {
            background-color: rgba(#aaa, .1);
        }
    }

    a {
        display: flex;
    }
}
.tab-header {
    font-weight: bold;
    padding: 10px 0;
    font-size: 14px;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
}