$font-primary: "Primary", "sans-serif", "helvetica", "Arial", "Times", "Times New Roman";
$color-primary: #5555ff;
$color-secondary: #9300ff;
$color-tertiary: #00adff;
$primary-radial-gradient: radial-gradient(circle at top right, #00adff, $color-primary, #9300ff);