@font-face {
  font-family: "Primary";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Primary", "sans-serif", "helvetica", "Arial", "Times", "Times New Roman";
  color: white;
  background-image: linear-gradient(45deg, #073350, #0d1c40, #2f0c33);
  background-repeat: no-repeat;
  min-height: 100vh;
}
body button, body select, body textrea, body input {
  font-family: "Primary", "sans-serif", "helvetica", "Arial", "Times", "Times New Roman";
}

.sidebar-content {
  padding: 5px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}

.sidebar-items-li {
  display: flex;
  gap: 0px;
  flex-direction: column;
}

.sidebar-item {
  width: -webkit-fill-available;
}
.sidebar-item a {
  display: block;
}

.sidebar-item-header {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.sidebar-item-header img {
  padding: 5px;
  filter: invert(1);
  border-radius: 5px;
  display: flex;
  transition: all 500ms;
}
.sidebar-item-header img.opened {
  transform: rotate(180deg);
}

.sidebar-item-header {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.sidebar-item-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-item-body {
  padding: 0;
  padding-left: 35px;
  display: none;
  padding-bottom: 0px;
  flex-direction: column;
}
.sidebar-item-body a {
  display: block;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar-item-body a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.shortcuts-li {
  padding: 10px 0;
}

nav {
  background-color: rgba(250, 250, 250, 0.1);
}

.nav-content {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-container {
  padding: 5px 0;
}

.note-content {
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.note-content.success {
  background-color: rgba(27, 189, 27, 0.3);
}

.section {
  padding: 10px;
}

.shortcut-modal {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.shortcut-modal-content {
  display: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
}

.shortcut-modal-header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  padding-bottom: 10px;
}
.shortcut-modal-header img {
  cursor: pointer;
  filter: invert(1);
  width: 28px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
}

.shortcut-modal-body {
  padding: 10px 0;
}

.shortcut-item {
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: center;
}
.shortcut-item div {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 15px;
  border-radius: 40px;
}

@media (min-width: 992px) {
  .app-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: start;
  }
  .app-sidebar {
    max-width: 280px;
    width: -webkit-fill-available;
  }
}
@media (max-width: 991px) {
  .app-container {
    display: block;
  }
  .app-sidebar {
    display: none;
  }
}
