@{
    ViewData["Title"] = "History | Changelog";
}
<section>
    <div class="container">
        <div class="section-header">
            <p class="text-color-black">History | Changelog</p>
        </div>
        <div class="section-body">
            <div class="history-list">
                <div class="history-item">
                    <div class="history-item-header">
                        <p class="history-item-date">2025 April 27</p>
                        <p class="history-item-type minor">Minor Release</p>
                        <p class="history-item-version">1.2.0</p>
                    </div>
                    <p class="text">Changes include</p>
                    <ul>
                        <li>Using more robust key frames for "float-in" animation bounce variations</li>
                    </ul>
                </div>

                <div class="history-item">
                    <div class="history-item-header">
                        <p class="history-item-date">2025 April 05</p>
                        <p class="history-item-type minor">Minor Release</p>
                        <p class="history-item-version">1.1.0</p>
                    </div>
                    <p class="text">Changes include</p>
                    <ul>
                        <li>Adding new animation "bubble"</li>
                        <li>Fixing invalid object reference in float in function when using the "style" field</li>
                    </ul>
                </div>
                <div class="history-item">
                    <div class="history-item-header">
                        <p class="history-item-date">2025 February 6</p>
                        <p class="history-item-type">Release</p>
                        <p class="history-item-version">1.0</p>
                    </div>
                    <p class="text">Record of the first release of Malo JS</p>
                </div>

            </div>
        </div>
    </div>
</section>