@{
    ViewData["Title"] = "History | Changelog";
}
<section>
    <div class="container">
        <div class="section-header">
            <p class="text-color-black">History | Changelog</p>
        </div>
        <div class="section-body">
            <p class="text text-color-greyish">
                There is currently no version history for Malo yet.
            </p>
        </div>
    </div>
</section>