<section id="banner">
    <div class="banner">
        <div class="banner-content" dom-flowt-overflow="hidden">
            <h1 class="text-banner-main text-color-primary" dom-flowt-type="float-right" dom-flowt-is-visible="false">ANIMATE YOUR WEBSITE</h1>
            <p class="text-banner-main text-color-black" dom-flowt-type="float-left" dom-flowt-is-visible="false">OPTIMIZED FOR SPEED</p>
            <p class="text-banner-main text-color-greyish" dom-flowt-type="float-right" dom-flowt-is-visible="false">LETS ANIMATE!</p>
            <div class="banner-splitter"></div>
            <p class="text text-color-greyish text-center">
                Malo is a Javascript library used to perform animations and transitions on HTML.
                It requires a basic understanding of HTML and CSS. The aim of Malo was to build a purely 
                front-end focused Javascript library that's compatible with both iOS and Android Devices,
                while maintaining seamless animations on all browsers too.
            </p>
            <div class="banner-actions">
                <a class="btn btn-white btn-md" title="Download" href="/lib/latest/malo2.0.zip">Download V2.0</a>
                <a class="btn btn-md" href="/documentation" title="Documentation">Documentation</a>
            </div>
        </div>
    </div>
</section>