<section id="benefits">
    <div class="container">
        <div class="section-header">
            <p class="text-color-black">Benefits of Malo</p>
        </div>
        <div class="section-body">
            <p class="text text-color-greyish">
                There are a number of reasons why you should use Malo for your next project.
            </p>
            <div class="benefits-li">
                <div class="card-benefit">
                    <p class="text-color-black card-benefit-number">1</p>
                    <p class="text-color-greyish">You get a variety of animations and effects to use, and you will get more soon.</p>
                </div>
                <div class="card-benefit">
                    <p class="text-color-black card-benefit-number">2</p>
                    <p class="text-color-greyish">One animation can have up to 4 variations! This will allow developers a good variety of options.</p>
                </div>
                <div class="card-benefit">
                    <p class="text-color-black card-benefit-number">3</p>
                    <p class="text-color-greyish">You can perform callbacks on animations and effects</p>
                </div>
                <div class="card-benefit">
                    <p class="text-color-black card-benefit-number">4</p>
                    <p class="text-color-greyish">The library was built with performace in mind. It is optimized for speed and efficiency.</p>
                </div>
                <div class="card-benefit">
                    <p class="text-color-black card-benefit-number">5</p>
                    <p class="text-color-greyish">Malo is thoroughly tested on multiple devices and browsers to ensure 0 issues</p>
                </div>
                <div class="card-benefit">
                    <p class="text-color-black card-benefit-number">6</p>
                    <p class="text-color-greyish">You can extend Malo with just CSS alone, without having to change the JavaScript code.</p>
                </div>
            </div>
        </div>
    </div>
</section>