<section id="getting-started" dom-flowt-type="fade" dom-flowt-is-visible="false">
    <div class="container">
        <div class="section-header">
            <p class="text-color-black">Getting Started</p>
        </div>
        <div class="section-body">
            <p class="text text-color-greyish">
                Let us look into getting you started with Malo.
            </p>
            <ul>
                <li>
                    <p class="text-color-greyish">First you need to make sure you have downloaded the ZIP file and extracted the files into your project.</p>
                </li>
                <li>
                    <p class="text-color-greyish">Next you need to reference both your CSS and JS files in your project.</p>
                </li>
                <li>
                    <p class="text-color-greyish">
                        Then you can use the below sample code to verify if you referenced the files correctly.
                    </p>
                    <code class="my-smallest">
                        <span class="c-o">malo</span>.<span class="c-m">effect</span>( { <span class="c-f">element</span>: <span class="c-v">'body'</span>, <span class="c-f">effect</span>: <span class="c-v">'blink'</span>, <span class="c-f">iteration</span>: <span class="c-v">2</span>, <span class="c-f">duration</span>: <span class="c-v">500</span> } );
                    </code>
                    <button class="btn my-smallest btn-md" type="button" onclick="malo.effect( { element: 'body', effect: 'blink', iteration: 2, duration: 500 } );">Run</button>
                </li>
            </ul>
        </div>
    </div>
</section>