<section id="modules" dom-flowt-type="fade" dom-flowt-is-visible="false">
    <div class="container">
        <div class="modules-content">
            <div class="section-header">
                <p class="text-color-black"><b><i>Introducing Modules for Malo.js</i></b></p>
            </div>
            <div class="section-body">
                <p class="text"><b>Malo is now introducing modules</b>, modules are overrides of the base/standard frames that come in the main ZIP file.</p>
                <p class="text">Modules are separate pieces of styles that are not included in the main package as they are optional. With this concept, developers can further extend the styles and frames of Malo and can be included in the main Git repo for other users.</p>
                <p class="text">Modules can be found the Malo JS Git repo at <b>/Malo.Web/wwwroot/lib/modules</b></p>
                <p class="text">Please not the following about Malo modules
                    <ul class="text-color-white">
                        <li>They do not have versions</li>
                        <li>They can be updated and edited independent of the main files</li>
                        <li>There is no documented version history for file changes</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>