<section id="latest-release">
    <div class="container">
        <div class="section-header">
            <p class="text-color-black">Latest Release</p>
        </div>
        <div class="section-body">
            <p class="text text-color-greyish">
                Check out the latest stable release of Malo.
                Keep checking on us regularly to see news on our latest versions or upcoming releases and new features.
                You can also view our version updates on the <a href="/history" class="text-color-greyish" title="History">history</a> page.
            </p>
            <div class="card-release">
                <img src="/images/Malo Logo_Blue120x120.png" width="72" alt="Malo" />
                <p class="text-color-black">Release Date: 2025 February 6</p>
                <p class="text-color-black">Release Version: 1.0</p>
                <a type="button" class="btn btn-white btn-md" href="/lib/latest/malo.zip">Download Version 1.0</a>
                <p class="text-color-greyish font-size-fine">
                    Note that the files from the zip are not minified. We currently do not minify any files.
                    Please feel free to minify the files if you want to. Apologies for the inconvenience.
                </p>
            </div>
        </div>
    </div>
</section>