<section id="testedDevices" class="section">
    <div class="section-header">Tested on different operating systems</div>
    <div class="section-body">
        <div>In making MaloJs, the aim was to build one UI Library to perform animations perfectly on both Android and IOS Devices.</div>
        <div class="tested-cards">
            <div class="tested-device-card">
                <div class="tested-device-card-content">
                    <div class="title">
                        IOS
                    </div>
                    <div class="image">
                        <img class="ios" src="/icons/apple-icon.svg" alt="apple"/>
                    </div>
                </div>
            </div>
            <div class="tested-device-card">
                <div class="tested-device-card-content">
                    <div class="title">
                        Android
                    </div>
                    <div class="image">
                        <img src="/icons/android-robot-bot-icon.svg" alt="android" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>