 <section id="testedDevices" class="section">
    <div class="section-header">Tested on different operating systems</div>
    <div class="section-body">
        <div>In making Malo, the aim was to build one Library to perform animations perfectly on both Android and IOS devices. Including more devices with systems like Windows, Mac and more.</div>
        <div class="tested-cards">
            <div class="tested-device-card">
                <div class="tested-device-card-content">
                    <div class="title">
                        IOS
                    </div>
                    <div class="image">
                        <img class="invert" src="/icons/apple-icon.svg" alt="apple"/>
                    </div>
                </div>
            </div>
            <div class="tested-device-card">
                <div class="tested-device-card-content">
                    <div class="title">
                        Android
                    </div>
                    <div class="image">
                        <img src="/icons/android-robot-bot-icon.svg" alt="android" />
                    </div>
                </div>
            </div>
            <div class="tested-device-card">
                <div class="tested-device-card-content">
                    <div class="title">
                        Windows
                    </div>
                    <div class="image">
                        <img  class="invert" src="/icons/windows-icon.svg" alt="windows" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>