<section class="section">
    <div class="version-card">
        v1.0.0
    </div>
</section>

<section class="section">
    <div class="info-card">
        <div class="info-card-content">
            <div class="image">
                <img class="dark-invert" src="/icons/curiosity-icon.svg" alt="globe" />
            </div>
            <div class="body">
                You can use shorthand declarations for properties. Check the shorthand declarations  <button class="btn btn-primary" onclick="toggleShortcutModal()">here</button>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-header">
        <div>Your new favourite Javascript Library</div>
    </div>
    <div class="section-body">
        <div>MaloJS is a lightweight Javascript library for performing animations and transitions on HTML using Javascript and CSS.</div>
    </div>
</section>

<section class="section">
    <div class="section-header">
        Release Information
    </div>
    <div class="section-body">
        <div>The latest and stable version of MaloJS is 1.0.0</div>
        <div>Released 31 March 2024</div>
        <div>There is currently no new version being worked on at the moment.</div>
        <div class="download-container">
            <button class="btn-primary" onclick="app.download('1.0.0')">Download v1.0.0</button>
            <button class="btn-primary" onclick="app.download('1.0.0')">Download Module v1.0.0</button>
        </div>
    </div>
</section>


<section class="section">
    <div class="section-header">
        Getting Started
    </div>
    <div class="section-body">
        <div>To use MaloJS, you will need to download the MaloJS Javascript and CSS files.</div>
        <ol class="styled-ul">
            <li>Download MaloJS v.1.0.0 files</li>
            <li>Reference malo.js and malo.css in your project</li>
            <li>Optional: create your own instance of Malo class then reference it when making MaloJs calls. By default MaloJs will create a new instance assigned to window.malo</li>
        </ol>
    </div>
</section>
<section class="section">
    <div class="section-header">What do I need to use MaloJS?</div>
    <div class="section-body">
        <div>You just need knowledge of THREE things!</div>
        <ul class="styled-ul">
            <li>HTML</li>
            <li>Javascript</li>
            <li>CSS</li>
        </ul>
    </div>
</section>
@await Html.PartialAsync("~/Views/Home/_TestedDevices.cshtml")
<section class="section">
    <div class="section-header">
        Is MaloJs for you?
    </div>
    <div class="section-body">
        <div>Many developers have their own preffered way of working, MaloJS tries to respect that as much as possible.</div>
        <div>With MaloJs you can get</div>
        <ul class="styled-ul">
            <li>Predefined methods to handle standard animations for your HTML elements.</li>
            <li>Predefined methods to perform effects on your HTML elements.</li>
            <li>Ability to perform callbacks after each animation or effect!</li>
        </ul>
        <div class="info-card">
            <div class="info-card-content">
                <div class="image">
                    <img class="dark-invert" src="/icons/world-globe-line-icon.svg" alt="globe" />
                </div>
                <div class="body">
                    MaloJs has been tested on popular browsers like Safari, Chrome, Edge and more
                </div>
            </div>
        </div>
     </div>
</section>