@{
    ViewData["Title"] = "Malo | Javascript Library";
}
<section class="section">
    <div class="section-body">
        <div class="intro-container">
            <img src="~/images/Malo Logo_Blue500x500.png" alt="malo" width="180" />
            <div>
                Malo is a Javascript library used to perform animations and transitions on HTML. It requires a basic understanding of
                HTML and CSS. The aim of Malo was to build a purely front-end focused Javascript library that's compatible with both IOS and Android Devices,
                while maintaining seamless animations on all other devices too.
                <br />
                <b>First release: 2024 March </b>

            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="section-header">
        Release Information
    </div>
    <div class="section-body">
        <div class="version-card">
            <div class="header">
            <div>Latest Version { 1.0.0 }</div>
            </div>
            <div class="body">
                <div>Released 31 March 2024</div>
                <div class="sources">
                    <div class="source-container">
                        <div class="source-header">Common Js</div>
                        <div class="source-note">Right click and "save as" to download</div>
                        <div class="source-links">
                            <a class="source-link" href="/lib/js/malo.1.0.0.js" title="malo.1.0.0 JS">1.0.0 JS</a>
                            <a class="source-link" href="/lib/css/malo.1.0.0.css" title="malo.1.0.0 CSS">1.0.0 CSS</a>
                        </div>
                    </div>
                    <div class="source-container">
                        <div class="source-header">ESM</div>
                        <div class="source-note">Right click and "save as" to download</div>
                        <div class="source-links">
                            <a class="source-link" title="malo.esm.1.0.0 JS" href="/lib/js/malo.esm.1.0.0.js">1.0.0 esm</a>
                            <a class="source-link" href="/lib/css/malo.1.0.0.css" title="malo.1.0.0 CSS">1.0.0 CSS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</section>

<section class="section">
    <div class="section-header">
        Getting Started
    </div>
    <div class="section-body">
        <div>To use Malo, you will need to download the Malo Javascript and CSS files.</div>
        <ol class="styled-ul">
            <li>Reference Malo CSS and JS files into your project</li>
            <li>
                <div>After referencing Malo JS file. Create a new instance of Malo</div>
                <code>
                    const <span class="variable">malo</span> = new <span class="method">Malo</span>(<span class="param">1000</span>, <span class="param">true</span>);
                    <div class="comment">//500 = animation duration in milliseconds. Default value = 500</div>
                    <div class="comment">//true = useAnimation. If value is false, Malo will not use animation and skip to the intended end result. Default is true</div>
                </code>
            </li>
           <li>
            With just that, you are done.
            Sample code to test if it works
            <code>
                <span class="variable">malo</span>.<span class="method">effect</span>('<span class="param">blink</span>', <span class="param">{ element: 'body', iteration: 1}</span>);
            </code>
            <button class="btn-run" onclick="testRun()">Run</button>
           </li>
        </ol>
    </div>
</section>

<div class="info-card mx-5">
        <div class="info-card-content">
            <div class="image">
                <img class="dark-invert" src="/icons/curiosity-icon.svg" alt="globe" />
            </div>
            <div class="body">
                You can use shorthand declarations for properties. Check the shorthand declarations  <button class="btn btn-primary" onclick="toggleShortcutModal()">here</button>
            </div>
        </div>
</div>

<section class="section">
    <div class="section-header">What do I need to use Malo?</div>
    <div class="section-body">
        <div>You just need knowledge of THREE things!</div>
        <div class="languages-list">
            <div class="language-container">
                <div class="language-content">
                    <img src="/icons/html-icon.svg" title="html" alt="html" />
                </div>
            </div>
            <div class="language-container">
                <div class="language-content">
                    <img src="/icons/javascript-programming-language-icon.svg" title="js" alt="js" />
                </div>
            </div>
            <div class="language-container">
                <div class="language-content">
                    <img src="/icons/css-icon.svg" title="css" alt="css" />
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("/Views/Home/_TestedDevices.cshtml")
<section class="section">
    <div class="section-header">
        Is Malo for you?
    </div>
    <div class="section-body">
        <div>Many developers have their own preffered way of working, Malo tries to respect that as much as possible.</div>
        <div>With Malo you can get</div>
        <ul class="styled-ul">
            <li>Predefined methods to handle standard animations for your HTML elements.</li>
            <li>Predefined methods to perform effects on your HTML elements.</li>
            <li>Ability to perform callbacks after each animation or effect!</li>
            <li>Disable animations with just one line without having to rewrite your all code.</li>
        </ul>
        <div class="info-card">
            <div class="info-card-content">
                <div class="image">
                    <img class="dark-invert" src="/icons/world-globe-line-icon.svg" alt="globe" />
                </div>
                <div class="body">
                    Malo has been tested on popular browsers like Safari, Chrome, Edge and more
                </div>
            </div>
        </div>
     </div>
</section>