<section class="section">
    <div class="section-body">
        <div class="note-container">
            <div class="note-content success">
                <div>Latest version of MaloJS is 1.0.0</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-header">
        New Lightweight JS Library
    </div>
</section>