@{
    ViewData["Title"] = "Malo Javascript Library";
}

@await Html.PartialAsync("_Banner")
<div class="section-splitter "></div>
@await Html.PartialAsync("_Modules")
<div class="section-splitter "></div>
@await Html.PartialAsync("_Release")
<div class="section-splitter "></div>
@await Html.PartialAsync("_GettingStarted")
<div class="section-splitter "></div>
@await Html.PartialAsync("_Benefits")