<section class="section" style="display: none">
    <div class="section-body">
        <div class="note-container">
            <div class="note-content success">
                <div>Latest version of MaloJS is 1.0.0</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-header">
        Malo JS, Simplest way to manipulate HTML using Javascript.
    </div>
    <div class="section-body">
        <div>MaloJS is a lightweight Javascript library for performing animations and transitions on HTML using Javascript and CSS.
        </div>
    </div>
</section>

<section class="section">
    <div class="section-header">
        Getting Started
    </div>
    <div class="section-body">
        <div>To use MaloJS, you will need to download the MaloJS Javascript and CSS files.</div>
        <ol class="styled-ul">
            <li>Download MaloJS v.1.0.0 files</li>
            <li>Reference malo.js and malo.css in your project</li>
            <li>Create new instance of the Malo class and assign it to the window object or a Javascript variable you can use to reference the new instance.</li>
            <li>window.malo = new Malo(1000, true);</li>
        </ol>
    </div>
</section>