<footer>
    <div class="footer-content">
        <a class="footer-item" href="/license">License</a>
        <div class="footer-item">v1.0.1</div>
        <div class="footer-item">Malo 2024</div>
        <div>&copy;  Joseph Morukhuladi</div>
    </div>
</footer>
