<footer>
    <div class="footer-content">
        <div class="footer-item">License</div>
        <div class="footer-item">v1.0.0</div>
        <div class="footer-item">Malo 2024</div>
        <div>&copy;  Joseph Morukhuladi</div>
    </div>
</footer>
