<footer>
    <div class="container">
        <div class="footer-content">
            <div class="text-center">
                <img alt="Malo" src="/images/Malo Logo_Blue120x120.png" width="48" class="mx-auto"/>
            </div>
            <div class="footer-links">
                <ul class="footer-links-li">
                    <li>
                        <a class="text-color-greyish" href="/documentation" title="Documentation">Documentation</a>
                    </li>
                    <li>
                        <a class="text-color-greyish"  href="/history" title="History">History</a>
                    </li>
                    <li>
                        <a class="text-color-greyish" href="https://github.com/Staviro/Malo/blob/master/LICENSE.txt" target="_blank" title="License">License</a>
                    </li>
                </ul>
            </div>
            <div class="text-center my-smallest">
                <p>&copy; Joseph Morukhuladi - @DateTime.Now.Year Malo </p>
            </div>
        </div>
    </div>
</footer>