<header>
    <nav>
        <div class="nav-content">
            <a class="nav-link list" href="/">
                <img src="/images/Malo Logo_Blue180x180.png" class="no-invert" alt="malo" />
            </a>

            <div class="nav-link list" id="navMenuIcon" onclick="toggleSidemenu(true, this)">
                <img src="/icons/hamburger-menu-icon.svg" alt="list icon" />
            </div>
        </div>
    </nav>
</header>
