<header>
    <nav>
        <div class="nav-content">
            <div class="nav-link list" onclick="toggleSidemenu()"><img src="/icons/list.svg" alt="list icon" /></div>
            <div class="nav-link hover version" onclick="toggleSidemenu()"> v1.0.0</div>
        </div>
    </nav>
</header>
