<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Malo JS is a Javascript library used to perform animations and transitions on HTML" />
    <meta name="keywords" content="malo,malo js,malo library,malo ui library,malo javascript library,javascript library,ui library,js ui library">
    <meta name="google-site-verification" content="l80CBXW38XaCAlQ0MI4kr43XDWe_mCskG_u4nXa4Prw">
    <meta name="msvalidate.01" content="E022E46C829383C377C8E235B354F648">
    <link rel="apple-touch-icon" href="/images/Malo Logo_Blue120x120.png" sizes="120x120" type="image/png" />
    <link rel="apple-touch-icon" href="/images/Malo Logo_Blue180x180.png" sizes="180x180" type="image/png" />
    <link rel="mask-icon" href="/images/Malo Logo_Blue180x180.png" sizes="180x180" type="image/png" />
    <link rel="icon" href="/images/Malo Logo_Blue180x180.png" sizes="180x180" type="image/png" />
    <!--Open Graph Protocol-->
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Malo JS is a Javascript library used to perform animations and transitions on HTML" />
    <meta property="og:image" content="/images/Malo Logo_Blue180x180.png" />
    <meta property="og:title" content="Malo"/>
    <meta property="og:url" content="https://www.malo-library.com/" />
    <!--Open Graph Protocol-->
    <link rel="stylesheet" href="@AppBundle.GetBundle("styles", "css")"/>
    <title>@ViewData["Title"]</title>
</head>
<body>
    @await Html.PartialAsync("/Views/Partials/_Preload.cshtml")
    @await Html.PartialAsync("_Nav")
    <main>
        @RenderBody()
    </main>
    @await Html.PartialAsync("_Footer")
    <script src="@AppBundle.GetBundle("scripts", "js")"></script>
    <script async>
        DomFlowt.defaults.duration = 1000;
        DomFlowt.watch();
        window.addEventListener("scroll", function() { DomFlowt.watch(); });
    </script>
</body>
</html>