<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/lib/css/malo.css"/>
    <title>@ViewData["Title"] - Malo.Web</title>
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
    <div class="app-container">
        @await Html.PartialAsync("~/Views/Shared/_Sidebar.cshtml")
        <div class="app-body">
            @RenderBody()
        </div>
    </div>
    <div class="sample-modal">
        <div class="sample-modal-content">
            <div class="sample-modal-header">
                <div>Modal</div>
                <img id="sampleModalClose" src="/icons/x.svg" class="close-icon" alt="close" />
            </div>
            <div class="sample-modal-body">
                Modal body
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_ShortcutModal.cshtml")
    <script src="/lib/js/malo.1.0.0.js"></script>
    <script src="/js/startup.js"></script>
    <script src="/js/shared.ui.js"></script>
    <script src="/js/sidemenu.ui.js"></script>
</body>
</html>
