<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/lib/css/malo.css"/>
    <title>@ViewData["Title"] - Malo.Web</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-content">
                <div class="nav-brand"><img src="~/images/Malo-Logo.png" width="120" /></div>
                <div class="nav-links">
                    <div class="nav-link hover" onclick="toggleSidemenu()">v1.0.0</div>
                    <div class="nav-link hover" onclick="toggleSidemenu()">Documentation</div>
                    <div class="nav-link hover" onclick="toggleSidemenu()">Menu</div>
                    <div class="nav-link"><img src="/icons/list.svg" alt="list icon" /></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="app-container">
        <div class="app-body">
            @RenderBody()
        </div>
    </div>
    <div class="app-sidemenu">
        <div class="sidemenu-container">
            <div class="sidemenu-content">
                <div class="sidemenu-header">
                    <div class="font-header">Menu</div>
                    <img src="/icons/x.svg" onclick="toggleSidemenu()" alt="close" />
                </div>
                <div class="sidemenu-items-li">
                    <div class="sidemenu-item">
                        <div class="sidemenu-item-header" onclick="toggleShortcutModal()">
                            <img src="/icons/activity.svg" class="activity-icon" />
                            <div>Shortcuts</div>
                        </div>
                    </div>
                    <div class="sidemenu-item">
                        <div class="sidemenu-item-header pages" onclick="togglesidemenuBody('pages')">
                            <img src="/icons/arrow-down.svg" class="arrow-icon" />
                            <div>Pages</div>
                        </div>
                        <div class="sidemenu-item-body pages">
                            <a>about</a>
                        </div>
                    </div>
                    <div class="sidemenu-item">
                        <div class="sidemenu-item-header FAQ" onclick="togglesidemenuBody('FAQ')">
                            <img src="/icons/arrow-down.svg" class="arrow-icon" />
                            <div>FAQ</div>
                        </div>
                        <div class="sidemenu-item-body FAQ">
                            <a>Is This Good?</a>
                            <a>Can I remove effects?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-item">Privacy</div>
            <div class="footer-item">South Africa</div>
            <div class="footer-item">License</div>
            <div class="footer-item">v1.0.0</div>
            <div class="footer-item">Malo 2024</div>
            <div>&copy;  Joseph Morukhuladi</div>
        </div>
    </footer>
    <div class="shortcut-modal">
        <div class="shortcut-modal-content">
            <div class="shortcut-modal-header">
                <div>Shortcuts</div>
                <img src="/icons/x.svg" class="close-icon" onclick="toggleShortcutModal()" alt="close" />
            </div>
            <div class="shortcut-modal-body">
                <div>Property Name | Shorthand</div>
                <div class="shortcuts-li">
                    <div class="shortcut-item">
                        <div class="shortcut-full">element</div>|
                        <div class="shortcut-abrev">el</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/js/malo.1.0.0.js"></script>
    <script src="/js/startup.js"></script>
    <script src="/js/shared.ui.js"></script>
    <script src="/js/sidemenu.ui.js"></script>
</body>
</html>
