<div class="mobile-nav">
    <div class="mobile-nav-content">
        <div class="mobile-nav-header">
            <div class="mobile-nav-header-start">
                <img height="28" width="28" alt="Malo" src="/images/Malo Logo_Blue120x120.png" />
            </div>
            <div class="mobile-nav-header-end icon-mobile-nav-close" onclick="mobileNav.hide()">
                <img height="28" width="28" alt="Close" src="/icons/close_24dp_WHITE_FILL0_wght400_GRAD0_opsz24.svg"/>
            </div>
        </div>
        <div class="mobile-nav-body">
            <ul class="mobile-nav-links">
                <li><a class="text-color-greyish" href="/" title="Home">Home</a></li>
                <li><a class="text-color-greyish" href="/documentation" title="documentation">Documentation</a></li>
                <li><a class="text-color-greyish" href="/history" title="History">History | Changelog</a></li>
                <li><a class="text-color-greyish" href="https://github.com/Staviro/Malo/blob/master/LICENSE.txt" target="_blank" title="License">License</a></li>
            </ul>
        </div>
    </div>
</div>