<div class="shortcut-modal">
    <div class="shortcut-modal-container">
        <div class="shortcut-modal-content">
            <div class="shortcut-modal-header">
                <div>Shortcuts</div>
                <img src="/icons/x.svg" class="close-icon" onclick="toggleShortcutModal()" alt="close" />
            </div>
            <div class="shortcut-modal-body">
                <div>Property Name | Shorthand</div>
                <div class="note-container">
                    <div class="note-content info">
                        <img src="/icons/info-lg.svg" alt="info" />
                        <div>Property names and shorthand values are case sensitive.</div>
                    </div>
                </div>
                <div class="shortcuts-li">
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>element</div>
                        </div>
                        <div class="shortcut-value">
                            <div>el</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>duration</div>
                        </div>
                        <div class="shortcut-value">
                            <div>dr</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>display</div>
                        </div>
                        <div class="shortcut-value">
                            <div>dp</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>callback</div>
                        </div>
                        <div class="shortcut-value">
                            <div>cb</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>iteration</div>
                        </div>
                        <div class="shortcut-value">
                            <div>itr</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>axis</div>
                        </div>
                        <div class="shortcut-value">
                            <div>-</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>direction</div>
                        </div>
                        <div class="shortcut-value">
                            <div>-</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>maxWidth</div>
                        </div>
                        <div class="shortcut-value">
                            <div>-</div>
                        </div>
                    </div>
                    <div class="shortcut-item">
                        <div class="shortcut-value">
                            <div>maxHeight</div>
                        </div>
                        <div class="shortcut-value">
                            <div>-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
