<div class="app-sidemenu">
    <div class="sidemenu-container">
        <div class="sidemenu-content">
            <div class="sidemenu-header-icons">
                 <img src="/icons/x.svg" alt="close" id="toggleSideMenuIcon" onclick="toggleSidemenu()" />
                <img src="/icons/brightness-low.svg" alt="brightness" id="appMode" onclick="toggleOrSetTheme()" />
                <img src="/icons/chat-text.svg" alt="chat" id="chat" onclick="alert('Coming soon')" />
            </div>
            <div class="sidemenu-items-li">
                <div class="tab-header">
                    <div>Tools</div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header" onclick="toggleShortcutModal()">
                        <img src="/icons/activity.svg" class="activity-icon" />
                        <div>Shortcuts</div>
                    </div>
                </div>
                <div class="tab-header">
                    <div>Pages</div>
                </div>
                <a class="sidemenu-item" href="/documentation">
                    <div class="sidemenu-item-header">
                        <img src="/icons/activity.svg" class="activity-icon" />
                        <div>Documentation</div>
                    </div>
                </a>
                <a class="sidemenu-item" href="/license">
                    <div class="sidemenu-item-header">
                        <img src="/icons/activity.svg" class="activity-icon" />
                        <div>License</div>
                    </div>
                </a>
                <div class="tab-header">
                    <div>Documentation</div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header frames" onclick="togglesidemenuBody('frames')">
                        <img src="/icons/arrow-thin-chevron-bottom-icon.svg" class="arrow-icon" />
                        <div>Frames</div>
                    </div>
                    <div class="sidemenu-item-body frames">
                        @await Html.PartialAsync("~/Views/Partials/V-1-0-0/Sidebar/_Frames.cshtml")
                    </div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header effects" onclick="togglesidemenuBody('effects')">
                        <img src="/icons/arrow-thin-chevron-bottom-icon.svg" class="arrow-icon" />
                        <div>Effects</div>
                    </div>
                    <div class="sidemenu-item-body effects">
                        @await Html.PartialAsync("~/Views/Partials/V-1-0-0/Sidebar/_Effects.cshtml")
                    </div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header helpers" onclick="togglesidemenuBody('helpers')">
                        <img src="/icons/arrow-thin-chevron-bottom-icon.svg" class="arrow-icon" />
                        <div>Helpers</div>
                    </div>
                    <div class="sidemenu-item-body helpers">
                        @await Html.PartialAsync("~/Views/Partials/V-1-0-0/Sidebar/_Helpers.cshtml")
                    </div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header operations" onclick="togglesidemenuBody('operations')">
                        <img src="/icons/arrow-thin-chevron-bottom-icon.svg" class="arrow-icon" />
                        <div>Operations</div>
                    </div>
                    <div class="sidemenu-item-body operations">
                        @await Html.PartialAsync("~/Views/Partials/V-1-0-0/Sidebar/_Operations.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
