<div class="app-sidemenu">
    <div class="sidemenu-container">
        <div class="sidemenu-content">
            <div class="sidemenu-header-icons">
                <img src="icons/x.svg" alt="close" id="toggleSideMenuIcon" onclick="toggleSidemenu()" />
                <img src="icons/brightness-low.svg" alt="brightness" id="appMode" onclick="toggleOrSetTheme()" />
                <a href="https://github.com/Staviro/Malo">
                    <img src="icons/github-icon.svg" alt="git" id="git" />
                </a>
            </div>
            <div class="sidemenu-items-li">
                <div class="tab-header">
                    <div>Tools</div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header" onclick="toggleShortcutModal(); closeSideMenuOnMobile()">
                        <img src="icons/hand-finger-click-icon.svg" class="action" alt="click" />
                        <div>Shortcuts</div>
                    </div>
                </div>
                <div class="tab-header">
                    <div>Pages</div>
                </div>
                <a class="sidemenu-item" href="/documentation" onclick="closeSideMenuOnMobile()">
                    <div class="sidemenu-item-header">
                        <img src="icons/hand-finger-click-icon.svg" class="activity-icon" alt="click" />
                        <div>Documentation</div>
                    </div>
                </a>
                <a class="sidemenu-item" href="/license" onclick="closeSideMenuOnMobile()">
                    <div class="sidemenu-item-header">
                        <img src="icons/hand-finger-click-icon.svg" class="activity-icon" alt="click" />
                        <div>License</div>
                    </div>
                </a>
                <div class="tab-header">
                    <div>Documentation</div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header frames" onclick="togglesidemenuBody('frames')">
                        <img src="icons/line-angle-down-icon.svg" class="arrow-icon" alt="arrow-down" />
                        <div>Frames</div>
                    </div>
                    <div class="sidemenu-item-body frames">
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#frameFade" rel="nofollow">FADE</a>
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#framePop" rel="nofollow">POP</a>
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#frameBounce" rel="nofollow">BOUNCE</a>
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#frameSlide" rel="nofollow">SLIDE</a>
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#frameFloat" rel="nofollow">FLOAT</a>           
                    </div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header effects" onclick="togglesidemenuBody('effects')">
                        <img src="icons/line-angle-down-icon.svg" class="arrow-icon" alt="arrow-down" />
                        <div>Effects</div>
                    </div>
                    <div class="sidemenu-item-body effects">
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#effectBlink" rel="nofollow">BLINK</a>
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#effectJump" rel="nofollow">JUMP</a>
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#effectBounce" rel="nofollow">BOUNCE</a>
                    </div>
                </div>
                <div class="sidemenu-item">
                    <div class="sidemenu-item-header operations" onclick="togglesidemenuBody('operations')">
                        <img src="icons/line-angle-down-icon.svg" class="arrow-icon" alt="arrow-down" />
                        <div>Operations</div>
                    </div>
                    <div class="sidemenu-item-body operations">
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#operationShow" rel="nofollow">SHOW</a>                       
                        <a onclick="closeSideMenuOnMobile()" href="/documentation#operationHide" rel="nofollow">HIDE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>