@{
    ViewData["Title"] = "Documentation";
}

<section class="section">
    <div class="section-header">Documentation</div>
    <div class="section-body">
        <div class="note-container">
            <div class="note-content">
                <img  src="/icons/info-lg.svg" alt="info"/>
                <div>Building the examples assuming that => const malo =  new Malo(1000, true)</div>
            </div>
        </div>
        <div class="section-sub-header">
            Frames
        </div>
        <div class="doc-li">
            <div class="doc-list-item-container" id="frameFade">
                <div class="doc-list-item-content">
                    <div class="frame-identity">Fade</div>
                    <div class="doc-item-name">malo.frame(operation, method, properties)</div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.SHOW</span>, <span class="param">MALOCONSTANTS.METHODS.FADE</span>, <span class="param">{ element: '.sample-modal' , display: 'flex' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'fade', { element: '.sample-modal' , display: 'flex' })">Run</button>
                    </div>
                </div>
            </div>
            <div class="doc-list-item-container" id="framePop">
                <div class="doc-list-item-content">
                    <div class="frame-identity">Pop</div>
                    <div class="doc-item-name">malo.frame(operation, method, properties)</div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.SHOW</span>, <span class="param">MALOCONSTANTS.METHODS.POP</span>, <span class="param">{ element: '.sample-modal' , display: 'flex' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run" onclick="run('show', 'pop', { element: '.sample-modal' , display: 'flex' })">Run</button>
                    </div>
                </div>
            </div>
            <div class="doc-list-item-container" id="frameBounce">
                <div class="doc-list-item-content">
                    <div class="frame-identity">BOUNCE</div>
                    <div class="doc-item-name">malo.frame(operation, method, properties)</div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.BOUNCE</span>, <span class="param">MALOCONSTANTS.METHODS.BOUNCE</span>, <span class="param">{ element: '.sample-modal' , display: 'flex' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'bounce', { element: '.sample-modal' , display: 'flex' })">Run</button>
                    </div>
                    <div class="note-container">
                        <div class="note-content">
                            <img src="/icons/info-lg.svg" alt="info" />
                            <div>Bounce frame accepts "bounce" field inside the properties object, which accepts "double" as a value.</div>
                        </div>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.SHOW</span>, <span class="param">MALOCONSTANTS.METHODS.BOUNCE</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', bounce: 'double', duration: 1000 }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'bounce', { element: '.sample-modal' , display: 'flex', bounce: 'double', duration: 1000 })">Run</button>
                    </div>
                </div>
            </div>
            <div class="doc-list-item-container" id="frameSlide">
                <div class="doc-list-item-content">
                    <div class="frame-identity">SLIDE</div>
                    <div class="doc-item-name">malo.frame(operation, method, properties)</div>
                    <div class="note-container">
                        <div class="note-content">
                            <img src="/icons/info-lg.svg" alt="info" />
                            <div>Slide frame accepts "axis" field inside the properties object, which accepts "x" or "y" as a value.</div>
                        </div>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.SLIDE</span>, <span class="param">MALOCONSTANTS.METHODS.SLIDE</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', axis: 'y' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'slide', { element: '.sample-modal' , display: 'flex', axis: 'y' })">Run</button>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.SHOW</span>, <span class="param">MALOCONSTANTS.METHODS.SLIDE</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', axis: 'x' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'slide', { element: '.sample-modal' , display: 'flex', axis: 'x' })">Run</button>
                    </div>
                </div>
            </div>
            <div class="doc-list-item-container" id="frameFloat">
                <div class="doc-list-item-content">
                    <div class="frame-identity">FLOAT</div>
                    <div class="doc-item-name">malo.frame(operation, method, properties)</div>
                    <div class="note-container">
                        <div class="note-content">
                            <img src="/icons/info-lg.svg" alt="info" />
                            <div>Float frame accepts "direction" field inside the properties object, which accepts "up" or "down" or "right" or "left" as a value.</div>
                        </div>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.FLOAT</span>, <span class="param">MALOCONSTANTS.METHODS.FLOAT</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', direction: 'up' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'float', { element: '.sample-modal' , display: 'flex', direction: 'up' })">Run</button>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.FLOAT</span>, <span class="param">MALOCONSTANTS.METHODS.FLOAT</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', direction: 'down' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'float', { element: '.sample-modal' , display: 'flex', direction: 'down' })">Run</button>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.FLOAT</span>, <span class="param">MALOCONSTANTS.METHODS.FLOAT</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', direction: 'right' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'float', { element: '.sample-modal' , display: 'flex', direction: 'right' })">Run</button>
                    </div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">frame</span>(<span class="param">MALOCONSTANTS.OPERATIONS.FLOAT</span>, <span class="param">MALOCONSTANTS.METHODS.FLOAT</span>, <span class="param">{ element: '.sample-modal' , display: 'flex', direction: 'left' }</span>);</span>
                        </code>
                    </div>
                    <div class="doc-options">
                        <button class="btn btn-run"onclick="run('show', 'float', { element: '.sample-modal' , display: 'flex', direction: 'left' })">Run</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="effects" class="section">
    <div class="section-sub-header">
        Effects
    </div>
    <div class="section-body">
        <div class="doc-li">
            <div class="doc-list-item-container" id="effectBlink">
                <div class="doc-list-item-content">
                    <div class="frame-identity">BLINK</div>
                    <div class="doc-item-name">malo.effect(effect, properties)</div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">effect</span>(<span class="param">MALOCONSTANTS.EFFECTS.BLINK</span>, <span class="param">{ element: '.sample-div.blink .sample-div-content' , iteration: 2, duration: 500 }</span>);</span>
                        </code>
                    </div>
                    <div class="sample-div blink"onclick="runEffect('blink', { element: '.sample-div.blink .sample-div-content' , iteration: 2, duration: 500 });">
                        <div class="sample-div-content">Apply Effect Here</div>
                    </div>
                </div>
            </div>
            <div class="doc-list-item-container" id="effectJump">
                <div class="doc-list-item-content">
                    <div class="frame-identity">JUMP</div>
                    <div class="doc-item-name">malo.effect(effect, properties)</div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">effect</span>(<span class="param">MALOCONSTANTS.EFFECTS.JUMP</span>, <span class="param">{ element: '.sample-div.jump .sample-div-content' , iteration: 1, duration: 1000 }</span>);</span>
                        </code>
                    </div>
                    <div class="sample-div jump"onclick="runEffect('jump', { element: '.sample-div.jump .sample-div-content' , iteration: 1, duration: 500 });">
                        <div class="sample-div-content">Apply Effect Here</div>
                    </div>
                </div>
            </div>
            <div class="doc-list-item-container" id="effectBounce">
                <div class="doc-list-item-content">
                    <div class="frame-identity">BOUNCE</div>
                    <div class="doc-item-name">malo.effect(effect, properties)</div>
                    <div class="method-defiinition">
                        <code>
                            <span class="line"><span class="variable">malo</span>.<span class="method">effect</span>(<span class="param">MALOCONSTANTS.EFFECTS.BOUNCE</span>, <span class="param">{ element: '.sample-div.bounce .sample-div-content' , iteration: 1, duration: 500 }</span>);</span>
                        </code>
                    </div>
                    <div class="sample-div bounce"onclick="runEffect('bounce', { element: '.sample-div.bounce .sample-div-content' , iteration: 1, duration: 500 });">
                        <div class="sample-div-content">Apply Effect Here</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="operations" class="section">
    <div class="section-sub-header">
        Operations
    </div>
    <div class="section-body">
        <div class="doc-li">
            <div class="doc-list-item-container" id="operationHide">
                <div class="doc-list-item-content">
                    <div class="opr-name">HIDE</div>
                    <code>
                        <span class="line"><span class="variable">MALOCONSTANTS</span>.<span class="variable">OPERATIONS</span>.<span class="variable">HIDE</span>; <span class="comment">// Returns "hide"</span></span>
                    </code>
                </div>
            </div>
            <div class="doc-list-item-container" id="operationShow">
                <div class="doc-list-item-content">
                    <div class="opr-name">SHOW</div>
                    <code>
                        <span class="line"><span class="variable">MALOCONSTANTS</span>.<span class="variable">OPERATIONS</span>.<span class="variable">SHOW</span>; <span class="comment">// Returns "show"</span></span>
                    </code>
                </div>
            </div>
        </div>
    </div>
</section>