<a href="/documentation/#frameFade" rel="nofollow">FADE</a>
<a href="/documentation/#framePop" rel="nofollow">POP</a>
<a href="/documentation/#frameBounce" rel="nofollow">BOUNCE</a>
<a href="/documentation/#frameSlide" rel="nofollow">SLIDE</a>
<a href="/documentation/#frameFloat" rel="nofollow">FLOAT</a>