@import '../../shared/_variables.scss';

#modules {
    background-image: linear-gradient(-122deg, $color-primary, #43a, #338faa, #FAFAFA);
    margin: $size-max 0;
}

.modules-content {
    padding: $size-max;
    border-radius: $size-max;
    background-color: #00000033;

    p {
        color: white;
    }
}

@import '_modules.dark.scss';